In [1]:
!pip install pandas pyarrow fastparquet

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: pyarrow in ./.venv/lib/python3.12/site-packages (23.0.0)
Requirement already satisfied: fastparquet in ./.venv/lib/python3.12/site-packages (2025.12.0)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: cramjam>=2.3 in ./.venv/lib/python3.12/site-packages (from fastparquet) (2.11.0)
Requirement already satisfied: fsspec in ./.venv/lib/python3.12/site-packages (from fastparquet) (2026.1.0)
Requirement already satisfied: packaging in ./.venv/lib/python3.12/site-packages (from fastparquet) (26.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
df = pd.read_parquet(
    "data/green_tripdata_2025-11.parquet"
)

df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [3]:
df.query("trip_distance <= 1").shape[0]

8009

In [4]:
df.query("trip_distance <= 100") \
  .sort_values("trip_distance", ascending=False) \
  .head(1)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
18867,2,2025-11-14 15:36:27,2025-11-14 18:40:48,N,4.0,130,265,2.0,88.03,610.6,...,0.5,0.0,0.0,NaN,1.0,612.1,2.0,1.0,0.0,0.0

In [5]:
print(df.columns)

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='str')

In [6]:
df.groupby('PULocationID')['fare_amount'] \
  .sum() \
  .sort_values(ascending=False) \
  .head(2)

PULocationID
74    181065.75
75     85072.19
Name: fare_amount, dtype: float64

In [7]:
import sys
sys.executable

'/workspaces/DataTalks-docker-workshop/pipeline/.venv/bin/python3'

In [8]:
%pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.12/site-packages (2.0.46)
Requirement already satisfied: psycopg2-binary in ./.venv/lib/python3.12/site-packages (2.9.11)
Requirement already satisfied: greenlet>=1 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.12/site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://root:root@localhost:5432/ny_taxi"
)

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" INTEGER,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53),
	cbd_congestion_fee FLOAT(53)
)

In [12]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [14]:
df.to_sql(
    name="green_taxi_data",
    con=engine,
    if_exists="replace",
    index=False,
    chunksize=100_000,
    method="multi"
)

46912

In [19]:
print(len(df))

46912